body {
    background-color: rgba(189, 214, 26, 0.201);
    background-image: url('./assets/land.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(50% - 200px) center;
    background-position-x: calc(20% -200px) top;
}